body {
    color: #222426;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-kerning: auto;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-weight: normal;
}

header {
    padding: 1em 1.5em;
    background-color: #f6f6f6;
}

main {
    margin: 2em 0;
}

.title {
    margin: 0;
    font-weight: normal;
}

.title img {
    width: 1.25em;
    height: 1.25em;
    vertical-align: middle;
    margin-bottom: 0.25em;
}

.center {
    text-align: center;
}

.days {
    font-size: 5em;
    font-weight: bold;
    color: #f48024;
}

